.Tabs {
    display: flex; /* Activa Flexbox */
    justify-content: space-between; /* Separa los elementos a los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
    background-color: black;
    margin-top: 0px !important;
}

.Link{
    color:white !important;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1.5vh;
}

.Avatar{
    margin:5px !important;
}