.ShoppingCartIcon{
    color:white !important;
    margin-top: 10px !important;
    margin-left: 60% !important;
}

.label{
    color:white !important;
    padding-left: 2px !important;
    margin-top: 10px !important;
}